<!DOCTYPE html>
<html>
<!-- служебная часть -->

<head>
  <title>Информация о магазине</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">

    h1 {
      font-size: 50px;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    h2 {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Domishop</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Наш магазин был сосздан в 2021 году и уже занял свою нижу в нашей стране. Разработкой DomiShop занимался
           единственный человек - Влад Голуб. Сейчас магазин является достойным конкурентам вторичных онлайн-рынков,
           таких, как Avito или Ebay </p>
        <p>Задумка была простой: создать сайт, где люди смогут продавать свои товары, однако, в связи с учасчтившимися
           случаями мошенничества в интернете, было принято решение полного контроля над объявлениями на сайте.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Контакты для связи</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Телефон: +7 (982) 389-29-27</p>
        <p>Почта: <a href="mailto: vlad314159@gmail.com">vlad314159@gmail.com</a></p>
        <p>Дискорд: Em_жуkov</p>
        <p>Телеграм: @sixsixsixprada</p>
      </div>
    </div>
  </div>
</body>
<!-- конец всей страницы -->

</html>